html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden
}

.point
{
  position: absolute;
  top:50%;
  left:50%;
  user-select: none;
}

.point .text
{
  position: absolute;
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  background: #00000080;
  color: #ffffff;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.point:hover .text
{
  opacity: 1;
}

.point.visible .label 
{
  transform: scale(1,1);
}

.point .label{
  position: absolute;
  top:-50px;
  left:-20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00000080;
  color: #ffffff;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.overlay {
  background: #00000090;
  color: #ffffff;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  position: absolute;
  top:0%;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.info {
  opacity: 0;
}

.point.overlay .info {
  margin-top: -10%;
  padding: 15%;
  opacity: 1;
  color: #ffffff;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 18px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  max-height: 120%;
  overflow-y: scroll;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: lightblue;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

strong a {
  font-weight: 900!
}

img {
  border-radius: 10px
}

.smaller {
  height: 20%;
  width: 20%;
}

.company {
  color: orange;
}

.projects {
  color: lightblue;
}

.question {
  color: rgb(255, 255, 255);
}

button {
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.large {
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
}

.small {
  margin: 2px 1px;
  padding: 5px;
  font-size: 12px;
}